In [5]:
import pandas as pd
from pathlib import Path

PROJECT_ROOT = Path().resolve().parent

# Load raw data
RAW_PATH = PROJECT_ROOT / "data" / "raw" / "raw.csv"
df = pd.read_csv(RAW_PATH)

df.info()

<class 'pandas.DataFrame'>
RangeIndex: 79335 entries, 0 to 79334
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         79335 non-null  int64
 1   NEIGHBORHOOD                    79335 non-null  str
 2   BUILDING CLASS CATEGORY         79335 non-null  str
 3   TAX CLASS AT PRESENT            79335 non-null  str
 4   BLOCK                           79335 non-null  int64
 5   LOT                             79335 non-null  str
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING CLASS AT PRESENT       79335 non-null  str
 8   ADDRESS                         79335 non-null  str
 9   APARTMENT NUMBER                19385 non-null  str
 10  ZIP CODE                        79317 non-null  float64
 11  RESIDENTIAL UNITS               59451 non-null  float64
 12  COMMERCIAL UNITS                45831 non-null  float64
 13  TOTAL UNITS                     62413 non-null  float64
 14  LAND SQUARE FEET                42869 non-null  str
 15  GROSS SQUARE FEET               42870 non-null  str
 16  YEAR BUILT                      74107 non-null  float64
 17  TAX CLASS AT TIME OF SALE       79335 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  79335 non-null  str
 19  SALE PRICE                      79335 non-null  str
 20  SALE DATE                       79335 non-null  str
dtypes: float64(6), int64(3), str(12)
memory usage: 12.7 MB

In [6]:
df.isna().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASE-MENT                         79335
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                  59950
ZIP CODE                             18
RESIDENTIAL UNITS                 19884
COMMERCIAL UNITS                  33504
TOTAL UNITS                       16922
LAND SQUARE FEET                  36466
GROSS SQUARE FEET                 36465
YEAR BUILT                         5228
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64

In [7]:
df.describe()

,BOROUGH,BLOCK,EASE-MENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,79335.000000,79335.000000,0.0,79317.000000,59451.000000,45831.000000,62413.000000,74107.000000,79335.000000
mean,2.939800,4188.669314,NaN,10845.683662,2.651780,0.371626,2.798824,1952.510761,1.660553
std,1.300756,3561.758458,NaN,570.371587,15.983699,5.579561,16.370264,36.309119,0.805253
min,1.000000,1.000000,NaN,10001.000000,0.000000,0.000000,0.000000,190.000000,1.000000
25%,2.000000,1283.000000,NaN,10304.000000,1.000000,0.000000,1.000000,1925.000000,1.000000
50%,3.000000,3240.000000,NaN,11209.000000,1.000000,0.000000,1.000000,1950.000000,2.000000
75%,4.000000,6205.000000,NaN,11357.000000,2.000000,0.000000,2.000000,1974.000000,2.000000
max,5.000000,16350.000000,NaN,11697.000000,761.000000,472.000000,764.000000,2025.000000,4.000000